// hidding transfer funds dialog
/*.body-game {
  .modal.fade.in {
    display: none !important;
  }
  #machine-wrapper{
    display: block !important;
  }

}
#machines-pic{
  border: 1px solid red;

  .live-btn{
    border: 1px solid yellow;
  }
}
*/